.main_div {
  height: 150px;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  position: sticky;
  top: 0;
  color: rgb(248, 198, 61);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  z-index: 1;
  filter: drop-shadow(4px 4px 30px black);
  
  
}



.nav_bar{
  position: relative;
  display: flex;
  justify-content: space-between; 
  display: flex;


 
 
}

body{
  margin: 0px;
  margin-bottom: 1050px;
  background-color: azure;
 
  

}



.car_mart_logo{
  display: flex;
  width: 290px;

}




  


  







.menu {
  background: #000000;
  height: 4rem;
 
}
.menu ol {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
.menu > ol {
  max-width: 1000px;
  padding: 0 2rem;
  display: flex;
}
.menu > ol > .menu-item {
  flex: 1;
  padding: 0.75rem 0;
}
.menu > ol > .menu-item:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 2px);
  background: #FECEAB;
  will-change: transform;
  transform: scale(0);
  transition: transform 0.2s ease;
}
.menu > ol > .menu-item:hover:after {
  transform: scale(1);
}
.menu-item {
  position: relative;
  line-height: 2.5rem;
  text-align: center;
}
.menu-item a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: rgba(255,196,0,255);
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  
  
}
.sub-menu .menu-item {
  padding: 0.75rem 0;
  background: #F67280;
  opacity: 0;
  transform-origin: bottom;
  animation: enter 0.2s ease forwards;
}
.sub-menu .menu-item:nth-child(1) {
  animation-duration: 0.2s;
  animation-delay: 0s;
}
.sub-menu .menu-item:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.sub-menu .menu-item:nth-child(3) {
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}
.sub-menu .menu-item:hover {
  background: #F8B195;
}
.sub-menu .menu-item a {
  padding: 0 0.75rem;
}
@media screen and (max-width: 1000px) {
  .sub-menu .menu-item {
    background: #C06C84;

  }
}

@media screen and (max-width: 1000px) {
  .menu {
    position: relative;
   
  }
  .menu-item a {
    font-size: 30px;
  }
 
  .menu:after {
    content: "";
    position: absolute;
    top: calc(90% - -8px);
    right: 1rem;
    width: 40px;
    height: 5px;
    background: white;
    box-shadow: 0 10px #FFF, 0 -10px #FFF;
    cursor: pointer;
  }
  .menu > ol {
    display: none;
    background: black   ;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
    animation: fade 0.2s ease-out;
  }
  .menu > ol > .menu-item {
    flex: 0;
    opacity: 10;
    animation: enter 0.3s ease-out forwards;
  }
  .menu > ol > .menu-item:nth-child(1) {
    animation-delay: 0s;
  }
  .menu > ol > .menu-item:nth-child(2) {
    animation-delay: 0.1s;
  }
  .menu > ol > .menu-item:nth-child(3) {
    animation-delay: 0.2s;
  }
  .menu > ol > .menu-item:nth-child(4) {
    animation-delay: 0.3s;
  }
  .menu > ol > .menu-item:nth-child(5) {
    animation-delay: 0.4s;
  }
  .menu > ol > .menu-item + .menu-item {
    margin-top: 0.75rem;
  }
  .menu > ol > .menu-item:after {
    left: auto;
    right: 1rem;
    bottom: calc(50% - 2px);
  }
  .menu > ol > .menu-item:hover {
    z-index: 1;
  }
  .menu:hover > ol {
    padding-top: 100px;
    display: block;
  }
  .menu:hover:after {
    box-shadow: none;
  }
}

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}
.menu-item:hover > .sub-menu {
  display: block;
}

@media screen and (max-width: 1000px) {
  .sub-menu {
    width: 100vw;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}



* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}