body{
    background-color: #04080e;
    font-family: 'Times New Roman', Times, serif;
   
}




.main{
    display: flex;
    justify-content: center;   
    
}

.main_car_info_div{
  
display: flex;
justify-content: center;   
margin-top: 50px;
background-color: #04080e;

filter: drop-shadow(3px 3px 5px #868686);
border-radius: 20px;
padding-top: 20px;
padding-bottom: 20px;
color: #eab406;

width: 1000px;

}

.info_div{


    display: block;
   
}


.img{
    width: 400px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 5px #686868);

}

h1{
    
   margin-top: 0px;
}



.year_make_model{

    height: 30px;
    display: block;
    margin-left: 50px;
    margin-top: 10px;
    
}

.title{
    display: flex;
    flex-direction: row;
}

.other_info_div{
    display: flex;
    margin-top: 180px;
    text-align: center;
    


}

.icons img{
    width: 129px;
    padding-left: 50px;
    padding-right: 50px;
}

.icons h3{
    margin: 0px;
}

.inventory{
    text-align: center;
    margin-top: 80px;
    font-size: 60px;
    margin-bottom: 100px;
    color: #eab406;;;
    filter: drop-shadow(1px 1px 1px rgb(235, 151, 5));
    
}


@media only screen and (max-width: 1000px) {
    .icons img{

        width: 100px;
    padding-left: 35px;
    padding-right: 35px;
   
  }

  .other_info_div{
    margin-left: 25px;
  }

  .main_car_info_div{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .other_info_div{
    margin-top: 50px;
  }

  .menu a{
    font-size: 25px;
  }

}
  