body{
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
  
   
}




.main{
    display: flex;
    justify-content: center;   
    
}

.main_car_info_div{
  
display: flex;
justify-content: center;   
margin-top: 50px;
background-color: rgb(141, 140, 131); 
filter: drop-shadow(3px 3px 25px black);
border-radius: 20px;
padding-top: 20px;
padding-bottom: 20px;


width: 1100px;

}

.info_div{


    display: block;
   
}


.img{
    width: 400px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 15px black);

}

h1{
    
   margin-top: 0px;
}



.year_make_model{

    height: 30px;
    display: block;
    margin-left: 50px;
    margin-top: 10px;
    
}

.title{
    display: flex;
    flex-direction: row;
}

.other_info_div{
    display: flex;
    margin-top: 180px;
    text-align: center;
    


}

.icons img{
    width: 129px;
    padding-left: 50px;
    padding-right: 50px;
}

.icons h3{
    margin: 0px;
}

.inventory{
    text-align: center;
    margin-top: 80px;
    font-size: 60px;
    margin-bottom: 100px;
    color: rgb(0, 0, 0);;
    filter: drop-shadow(1px 1px 1px rgb(248, 198, 61));
    
}


@media only screen and (max-width: 1000px) {
    .icons img{

        width: 100px;
    padding-left: 35px;
    padding-right: 35px;
   
  }

  .other_info_div{
    margin-left: 25px;
  }


}
  