
  html body{
    background-color: #04080e;
  }

.card-body .px-4, .py-5 .px-md-5{
  background-color: #04080e;
border-radius: 0px;
}


  .menu-item a {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255,196,0,255);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    
    
  }

  .menu-item a:hover{

    color: rgb(248, 198, 61);

  }

.my-5, .display-5, .fw-bold, .ls-tight{

  color: #eab406;

}