
 

    body {
      font-family: 'Times New Roman', Times, serif;
  
      background-color: #04080e;
      color: #eab406;
      margin-bottom: 100px;
  
  
    }
  
  .menu-item a {

    color: rgba(255,196,0,255);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    
    
    
  }

 
    
  
  @media only screen and (max-width: 1000px) {
   
     .menu a{
      font-size: 36px;
    }
 
  
    .list_div{
  
      flex-direction: column;
   
    }

    .img{
     width: 850px;
      margin-left: 0px;
    }

    .img_info_div{

      display: flex;
      flex-direction: column;
      
    
    
    }

    .other_info_div{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    
     
    }

    .Specification{

      display: inline;
      flex-wrap: wrap;
      flex-direction: row;
    }

   

    

  }

  

 
.img{
  width: 960px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 15px black);

  margin: 30px 0px 15px 8px;
}
 


.other_info_div{
  display: flex;  
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: center;
 padding-top: 30px;


  

}




.title{
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
}

.title h1{
  margin-left: 20px;
}

.icons{
  padding-left: 20px;
  padding-right: 20px;
 
}

.icons img, .wrench{
  width: 55px;
 
}

.all_icons{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}



.img_info_div{

  display: flex;


}

.info{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
}

.equipment_div, .Specification {

  filter: drop-shadow(4px 4px 5px #090000);
  border: 0px solid;
  border-bottom: 3px solid;
  box-shadow: 2px 2px 20px black;
  border-radius: 25px;


}

.title{
  border-bottom: 1px dotted;
  width: 530px;

}