.main_div {
    height: 150px;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    position: sticky;
    top: 0;
    color: rgb(248, 198, 61);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  
    z-index: 1;
    filter: drop-shadow(4px 4px 30px black);
    
    
  }
  
  
  
  
  .nav_bar{
    position: relative;
    display: flex;
    justify-content: space-between; 
    display: flex;
    
  
   
   
  }
  
  body{
    margin: 0px;
    margin-bottom: 1050px;
    background-color: azure;
  
  }
  
  .car_mart_logo{
    display: flex;
    width: 290px;
  
  }
  
  .list_div{
  height: 100%;
  align-self: center;
  position: relative;
  margin-right: 100px;
  display: flex;
  
  
  
  
  }
  
  .list_div a{
  
    font-size: 30px;
    text-decoration: none;
    color: rgb(248, 198, 61);
    align-self: center;
    cursor: pointer;
    list-style-type: none;
    margin-right: 30px;
    font-family: 'Quattrocento', serif;
    
    
  }
  
  
 
    
  
  @media only screen and (max-width: 1000px) {
   
  
    .list_div a{
      font-size: 25px;
      margin: 0px;
  
     
      
    }
  
    .list_div{
  
      flex-direction: column;
   
    }
  
   
  } 
    